/* CONFIGURACOES GLOBAIS */
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
font-family: 'Vollkorn', serif;
font-family: 'Montserrat', sans-serif;
*/

* {
    padding: 0;
    margin: 0;

}

html, body {
    height: 100%;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    background-color: var(--background-global);

    color: var(--text-black);

}

:root {
    --background-global: #f9f9f9;
    --background-header: #f1f1f1;
    --background-footer: #222222;
    --background-copyright: #191919;
    --background-menu-hover: #262626;

    --text-black: #262626;
    --text-white: #f1f1f1;
    --text-menu-hover: #f1f1f1;
    --text-gray: #a6a8af;
    
    --color-hr: #c9cacc;

    --overlay: #282c4ea0;

    --button: #032a63;

    --warning: #cc3300;
    --ok: #339900;

    --textarea: #767676;

}

::-webkit-scrollbar {
    display: none;

}

h1 {
    font-family: 'Vollkorn', serif;
    font-size: 4rem;

}

h2 {
    font-family: 'Vollkorn', serif;
    font-size: 3rem;

}

h3 {
    font-family: 'Vollkorn', serif;
    font-size: 1.5rem;

    color: var(--text-white);

}

hr {
    padding: 2%;

    width: 66%;
    height: auto;

    border-top: 1.7px solid var(--color-hr);
    border-right: 0px solid var(--color-hr);
    border-bottom: 0px solid var(--color-hr);
    border-left: 0px solid var(--color-hr);

}

.active {
    color: var(--text-gray);

}

/* HEADER - MENU */
header {
    width: 100%;
    height: auto;

    background-image: url(../img/background-tecnologia.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 3px 5px -5px var(--text-black);

}

header nav {
    padding: 1%;

    width: 78%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

header nav p {
    font-family: 'Vollkorn', serif;
    font-size: 2rem;
    font-weight: 800;

}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;

    list-style: none;

}

header nav ul a {
    padding: 10% 15%;
    margin: 1%;

    text-decoration: none;

    color: var(--text-black);

    transition: color, .5s;

}

header nav ul a:hover {
    color: var(--text-gray);

}

header nav ul li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;

}

/* SECTION - APRESENTACAO */
section {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

section #sectionApresentacao {
    background-image: url(../img/planejamento.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}

section #sectionApresentacao #overlay {
    width: 100%;
    height: 100%;

    background-color: var(--overlay);

    display: flex;
    align-items: center;
    justify-content: center;

}

section #sectionApresentacao #overlay #apresentacao {
    padding-top: 15%;
    padding-bottom: 15%;

    width: 80%;
    height: auto;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

section #sectionApresentacao #overlay #apresentacao h1 {
    color: var(--text-white);

}

section #sectionApresentacao #overlay #apresentacao > p {
    margin-top: 3%;
    margin-bottom: 2%;
    
    width: 70%;
    height: auto;

    font-size: 16px;

    color: var(--text-white);

    text-align: justify;

}

section #sectionApresentacao #overlay #apresentacao a {
    text-decoration: none;

    color: var(--text-black);

    background-color: var(--button);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.5%;

    width: 10%;
    height: auto;

    border-radius: 5px;

}

section #sectionApresentacao #overlay #apresentacao a button {
    border: none;

    width: 100%;
    height: auto;

    background-color: transparent;

    font-size: 16px;

    color: var(--text-white);

    cursor: pointer;

}

/* SECTION - FERRAMENTAS E ESTRATEGIAS */
section #sectionFerramentas {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin-top: 5%;
    padding: 2%;

    width: 66%;
    height: auto;

}

section #sectionFerramentas h2 {
    padding: 1%;

    width: 98%;
    height: auto;

    text-align: center;

    line-height: 1;

}

section #sectionFerramentas > p {
    padding: 1%;

    width: 88%;
    height: auto;

    text-align: center;

    color: var(--text-gray);

}

section #sectionFerramentas #ferramentas {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

section #sectionFerramentas #ferramentas #bloco {
    margin-top: 4%;
    padding: 2%;

    /* 
        950px <- width = 100%
        950 / 2 = 475px <- 2 DIVs por linha
        
        compensar o padding de 2%
        950 / 100% = 9,5px
        1% = 9,5px

        para cada 1% tem que se dobrar a QTD de pixels
        padding 2% = 9,5 x 4 = 38px <- que dever ser descontados do width

        COM ISSO FICAMOS COM:
        475px - 38 = 437px
        width: 437px;
    */

    width: 437px; 
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

section #sectionFerramentas #ferramentas #bloco svg {
    padding: 4%;

    width: 16%;
    height: auto;

}

section #sectionFerramentas #ferramentas #bloco #texto {
    width: 76%;
    height: auto;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

section #sectionFerramentas #ferramentas #bloco #texto #titulo {
    font-family: 'Vollkorn', serif;
    font-size: 30px;
    font-weight: 700;

    color: var(--text-black);

}

section #sectionFerramentas #ferramentas #bloco #texto > p {
    font-size: 16px;
    font-weight: 400;

    color: var(--text-gray);

}

/* SECTION - LOYOUTS E INDEXACAO */
section #sectionLayout {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: 2%;

    width: 76%;
    height: auto;

}

section #sectionLayout #layouts {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: auto;

}

section #sectionLayout #layouts #img {
    padding: 2%;

    width: 40%;
    height: auto;

}

section #sectionLayout #layouts #img img {
    width: 100%;
    height: auto;

}

section #sectionLayout #layouts #coteudo {
    width: 56%;
    height: auto;

}

section #sectionLayout #layouts #coteudo > h2 {
    line-height: 1;

}

section #sectionLayout #layouts #coteudo > p {
    margin-top: 3%;
    margin-bottom: 2%;

    color: var(--text-gray);

}

section #sectionLayout #layouts #coteudo a {
    text-decoration: none;

    color: var(--text-black);

    background-color: var(--button);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.5%;

    width: 20%;
    height: auto;

    border-radius: 5px;

}

section #sectionLayout #layouts #coteudo a button {
    border: none;

    width: 100%;
    height: auto;

    background-color: transparent;

    font-size: 16px;

    color: var(--text-white);

    cursor: pointer;

}

/* FOOTER - MENU */
footer {
    width: 100%;
    height: auto;

    background-color: var(--background-footer);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

footer #footer {
    padding: 5%;

    width: 75%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-around;

    flex-wrap: wrap;

}

footer #footer #logo {
    width: 50%;
    height: auto;

}

footer #footer #logo > p {
    font-family: 'Vollkorn', serif;
    font-size: 2rem;
    font-weight: 800;

    color: var(--text-white);

}

footer #footer #menu {
    width: 15%;
    height: auto;

}

footer #footer #menu ul {
    list-style: none;

}

footer #footer #menu ul a {
   text-decoration: none;

   color: var(--text-white);

   transition: color, .5s;

}

footer #footer #menu ul a:hover {
    color: var(--text-gray);
 
 }

footer #footer #menu ul a li {
    font-size: 14px;
 
}

footer #footer #social {
    width: 20%;
    height: auto;

} 

footer #footer #social #icon {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

    width: 70%;
    height: auto;

}

footer #footer #social #icon a {
    text-decoration: none;

    color: var(--text-gray);

    width: 25%;
    height: auto;

    cursor: default;

}

footer #footer #social #icon a svg {
    padding: 2%;

    width: 66%;
    height: auto;

    transition: color, .5s;

    cursor: pointer;

}

footer #footer #social #icon a svg:hover {
   color: var(--text-white);

}

footer #copyright {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1%;

    width: 98%;
    height: auto;

    background-color: var(--background-copyright);

    font-family: 'Vollkorn', serif;

    color: var(--text-white);

}

footer #copyright > strong {
    margin-left: 0.2%;

} 

/* PAGE SOBRE */
section #sobreMim {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2%;

    width: 76%;
    height: auto;

}

section #sobreMim #texto{
    padding: 2%;

    width: 66%;
    height: auto;

}

section #sobreMim #texto > p {
    font-size: 14px;
    
    color: var(--text-black);

    text-align: justify;

}

section #sobreMim #perfil {
    width: 30%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

section #sobreMim #perfil #img {
    width: 100%;
    height: auto;
    
}

section #sobreMim #perfil #img img {
    width: 100%;
    height: auto;

    border-radius: 50%;
    
}

section #sobreMim #perfil #redesSociais {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

} 

section #sobreMim #perfil #redesSociais > h2 {
    text-align: center;

    width: 100%;
    height: auto;

}

section #sobreMim #perfil #redesSociais #icon {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

    width: 100%;
    height: auto;

}

section #sobreMim #perfil #redesSociais #icon a {
    text-decoration: none;

    color: var(--text-black);

    width: 15%;
    height: auto;

    cursor: default;

}

section #sobreMim #perfil #redesSociais #icon a svg {
    padding: 2%;

    width: 86%;
    height: auto;

    transition: color, .5s;

    cursor: pointer;

}

section #sobreMim #perfil #redesSociais #icon a svg:hover {
   color: var(--text-gray);

}

/* PAGE CONTATO */
section #contato {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    padding: 2%;

    width: 76%;
    height: auto;

}

section #contato > p {
    text-align: justify;

}

section #apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2%;

    width: 76%;
    height: auto;

}

section #apresentacao #formulario {
    padding: 2%;

    width: 46%;
    height: auto;

}

section #apresentacao #formulario > h1 {
   font-size: 2.5rem;

}

section #apresentacao #formulario forms {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

section #apresentacao #formulario forms label {
    margin: 1%;

    width: 48%;
    height: auto;

}

section #apresentacao #formulario forms textarea {
    margin: 1%;
    padding: 1%;

    width: 98%;
    height: auto;


}

section #apresentacao #formulario forms a {
    text-decoration: none;

    color: var(--text-black);

    background-color: var(--button);

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1%;
    padding: 1%;

    width: 10%;
    height: auto;

    border-radius: 5px;

}

section #apresentacao #formulario forms a button {
    border: none;

    width: 100%;
    height: auto;

    background-color: transparent;

    font-size: 16px;

    color: var(--text-white);

    cursor: pointer;

}

section #apresentacao #localizacao {
    width: 50%;
    height: auto;

}

section #apresentacao #localizacao #endereco {
    margin-bottom: 3%;

    width: 100%;
    height: auto;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

section #apresentacao #localizacao #endereco > h2 {
    font-size: 2.5rem;
 
}

section #apresentacao #localizacao #mapa {
    width: 100%;
    height: auto;
 
}

section #apresentacao #localizacao #mapa iframe {
    width: 100%;
    height: 40vh;
 
}

@media(max-width: 480px){
    header nav {
        width: 100%;

        justify-content: center;
    
    }

    header nav ul {
        display: none;
    
    }

    section #sectionApresentacao {
        background-image: url(../img/planejamento.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 200%;
    
    }

    section #sectionApresentacao #overlay #apresentacao h1 {
        font-size: 4rem;
    
    }

    section #sectionApresentacao #overlay #apresentacao > p {
        margin-top: 3%;
        margin-bottom: 2%;
        
        width: 100%;
        height: auto;
    
    }

    section #sectionApresentacao #overlay #apresentacao a {
        padding: 2%;
    
        width: 30%;
    
    }

    section #sectionFerramentas {
        width: 96%;
        height: auto;
    
    }

    section #sectionFerramentas h2 {
        font-size: 1.8rem;
    
    }

    section #sectionFerramentas #ferramentas #bloco svg {
        padding: 5%;
    
        width: 10%;
        height: auto;
    
    }

    section #sectionFerramentas #ferramentas #bloco #texto #titulo {
        font-family: 'Vollkorn', serif;
        font-size: 25px;
        font-weight: 700;
    
        color: var(--text-black);
    
    }

    section #sectionFerramentas #ferramentas #bloco #texto > p {
        font-size: 14px;
        font-weight: 400;
    
        color: var(--text-gray);
    
    }

    section #sectionLayout {    
        width: 96%;
        height: auto;
    
    }

    section #sectionLayout #layouts {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
    }

    section #sectionLayout #layouts #img {
        padding: 2%;
    
        width: 76%;
        height: auto;
    
    }

    section #sectionLayout #layouts #coteudo {
        width: 80%;
        height: auto;
    
    }

    section #sectionLayout #layouts #coteudo > h2 {
        font-size: 1.7rem;
    
    }

    section #sectionLayout #layouts #coteudo > p {
        font-size: 0.8rem;
    
    }

    section #sectionLayout #layouts #coteudo a {
        padding: 2%;
    
        width: 40%;
        height: auto;
    
    }

    hr {
        margin-top: 5%;

    }

    footer #footer {
        padding: 5%;

        width: 90%;
        height: auto;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    footer #footer #logo {
        width: 100%;
        height: auto;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
    }

    footer #footer #menu {
        width: 100%;
        height: auto;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
    }

    footer #footer #menu ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
    }

    footer #footer #social {
        width: 100%;
        height: auto;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
    } 

    footer #footer #social #icon {
        display: flex;
        align-items: center;
        justify-content: center;
    
        flex-wrap: wrap;
    
        width: 60%;
        height: auto;
    
    }

    /* PAGE SOBRE */
    section #sobreMim {
        padding: 2%;
    
        width: 96%;
        height: auto;
        
        flex-wrap: wrap;
    
    }

    section #sobreMim #texto{
        padding: 2%;
    
        width: 96%;
        height: auto;
    
    }

    section #sobreMim #perfil {
        width: 50%;
        height: auto;
    
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
    }

    /* PAGE CONTATO */
    section #contato {
        flex-wrap: wrap;
    
        padding: 2%;
    
        width: 86%;
        height: auto;
    
    }

    section #contato > h1 {
        font-size: 2.5rem;
    
    }

    section #apresentacao {
        flex-wrap: wrap;
    
        padding: 2%;
    
        width: 96%;
        height: auto;
    
    }

    section #apresentacao #formulario {
        padding: 2%;
    
        width: 96%;
        height: auto;
    
    }

    section #apresentacao #formulario forms input {
        width: 95% !important;
        height: auto;
    
    }

    section #apresentacao #formulario forms textarea {
        width: 95% !important;
        height: auto;
    
    }

    section #apresentacao #formulario forms a {
        margin: 1%;
        padding: 1%;
    
        width: 20%;
        height: auto;
    
    }

    section #apresentacao #localizacao {
        display: none;
    
    }

}